<nav class="navbar navbar-light bg-light text-white navbar-expand-lg">
    <a class="navbar-brand text-white" href="#">
      Tennis Club de Rue - Le Crotoy
    </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Recherche de partenaire</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Participer à un événement</a>
      </li>
    </ul>
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        {{pseudo}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Paramètres</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Deconnexion</a>
      </div>
    </div>
  </div>
</nav>
